* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.registrodesesion {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  position: relative;
  align-items: center;
  }

.cabezita  {
    padding-left: 77px;
    top: 20px;
    position: absolute;
}
.volver {
    border: none;
    background-color: white;
    cursor: pointer;
}

.maineo {                  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.registreo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlee {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
}
.signup {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    margin-top: 30px;
}
::placeholder {
    color: #7D71E6;
}
.email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 33px;
    background-color: rgba(125, 113, 230, 0.25);
    border-radius: 15px;
    width: 426px;
    height: 71.4px;
    cursor: text;
    padding: 20px;
}
#mail1 {
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
    font-size: 16px;
    height: 25px;
    overflow-y: hidden;
    flex: 1;
    border: none;
}
.usuario1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 14px;
    background-color: rgba(125, 113, 230, 0.25);
    border-radius: 15px;
    width: 426px;
    height: 71.4px;
    cursor: text;
    padding: 20px;
}
#user {
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
    font-size: 16px;
    height: 25px;
    overflow-y: hidden;
    flex: 1;
    border: none;
}
.contra1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    background-color: rgba(125, 113, 230, 0.25);
    border-radius: 8px;
    width: 426px;
    height: 71.4px;
    cursor: text;
    padding: 20px;
}
#password1 {
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
    font-size: 16px;
    height: 25px;
    overflow-y: hidden;
    flex: 1;
    border: none;
}
#ocultar1 {
    border: none;
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    cursor: pointer;
}
.confirmcontra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    background-color: rgba(125, 113, 230, 0.25);
    border-radius: 8px;
    width: 426px;
    height: 71.4px;
    cursor: text;
    padding: 20px;
}
#confirmpassword {
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
    font-size: 16px;
    height: 25px;
    overflow-y: hidden;
    flex: 1;
    border: none;
}
#ocultar2 {
    border: none;
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    cursor: pointer;
}
.enter1{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 30px;
}
.register1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 426px;
    height: 71.4px;
    border: none;
    background-color: #7D71E6;
    border-radius: 9px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 61px 0px rgba(77, 71, 195, 0.4);
}
.ifyoulogin {
    display: flex;
}
.ifyou {
    margin-top: 26px;   
    font-size: 14px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 400;
}
.login1 {
    margin-top: 26px;   
    font-size: 14px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 600;
    padding-left: 4px;
    color: #7D71E6;
    cursor: pointer;
}
a {
text-decoration: none;
  color: inherit; 
}