* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.iniciodesesion {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  position: relative;
  align-items: center;
}
.cabezita {
      position: absolute;
      top: 20px;
      left: 77px;
}
.volver {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.volver:hover {
  transform: scale(1.03);
  }
.maineo {                  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.logueo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlee {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
}
.signin {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    margin-top: 30px;
}
::placeholder {
    color: #7D71E6;
}
.usuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 33px;
    background-color: rgba(125, 113, 230, 0.25);
    border-radius: 15px;
    width: 531px;
    height: 89px;
    cursor: text;
    padding: 20px;
}
#usuario1 {
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    display: flex;
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
    font-size: 20px;
    height: 30px;
    overflow-y: hidden;
    flex: 1;
    border: none;
}
.contra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;    
    background-color: rgba(125, 113, 230, 0.25);
    border-radius: 9px;
    width: 531px;
    height: 89px;
    padding: 20px;
    cursor: text;
}
#contra1 {
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
    font-size: 20px;
    height: 30px;
    overflow-y: hidden;
    flex: 1;
    border: none;
}
#ocultar {
    border: none;
    outline: none;
    resize: none;
    background-color:rgba(125, 113, 230, 0.00000000000001);
    cursor: pointer;
}
.enter{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 113px;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 531px;
    height: 89px;
    border: none;
    background-color: #7D71E6;
    border-radius: 9px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 61px 0px rgba(77, 71, 195, 0.4);
    transition: all 0.3s ease;
}

.login:hover {
  transform: scale(1.03);
  }

.ifyouregister {
    display: flex;
}
.ifyou {
    margin-top: 31px;   
    font-size: 16px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 400;
}
.register {
    margin-top: 26px;   
    font-size: 14px;
    font-family: 'Poppins', sans-serif ;
    font-weight: bold;
    padding-left: 5px;
    color: #7D71E6;    
    cursor: pointer;   
    transition: all 0.3s ease;
}

.register:hover {
  transform: scale(1.03);
  }

.obligatorios2 {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    color: #FF0000;
}