* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lacasa {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.icons{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.iconizqitems{
  background-color: rgba(125, 113, 230, 0.05);
  width: 321px;
  height: 93px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 0;
}
.iconsitems{
    position: relative;
    background-color: #FFFFFF;
    width: 1119px;
    height: 93px;
    padding: 0;
    padding-right: 70px;
    display: flex;
    align-items: center;
  }
.volver{
  position: absolute;
  left: 22px;
  top: 19px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.volver:hover {
  transform: scale(1.03);
  }
  .centericons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supportchatbot {
  width: 288px;
  height: 57px;
  background-color: rgba(125, 113, 230, 0.2);
  border: none;
  cursor: pointer;
  border-radius: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color:#7D71E6;
  font-size: 20px;
  font-family: 'Poppins', sans-serif ;
  font-weight: normal;
  transition: all 0.3s ease;
}

.supportchatbot:hover {
  background-color:rgba(125, 113, 230, 0.3);
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(125, 113, 230, 0.4);
}
.righticons 
{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  }
.userchatbot {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding: 0px;
  transition: all 0.3s ease;
}

.userchatbot:hover {
  transform: scale(1.03);
}
.chat-controls{
  background-color: rgba(125, 113, 230, 0.05);
  width: 321px;
  height: 140px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 27px;
    }
.newchat{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 26px;
    margin-right: 96px;
    padding-right: 0px;
    color:#000000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.newchat:hover {
  transform: scale(1.03);
}

.searchchat{
    display: flex;
    justify-content: flex-start;
    gap: 22px;
    margin-left: 26px;
    margin-right: 96px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
}
.chats {
  background-color: rgba(125, 113, 230, 0.05);
  width: 321px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  overflow-y: auto;
  }
.chatis {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif ;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.23);
}
.contenedor {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.mainchatbot {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 320px;
  padding: 40px;
  overflow-y: auto;
}
.titulochatbot {
width: 845px;
justify-content: center;
align-items: center;
font-size: 64px;
font-family: 'Poppins', sans-serif ;
font-weight: normal;
}
.accioneschatbot {
margin-top: 150px;
width: 808px;
height: 112px;
border: 1px solid #CBD5E1;
box-shadow: 0px 4px 8px -2px rgba(23, 23, 23, 0.1);
border-radius: 20px;
cursor: text;
display: flex;
justify-content: space-between;
position: relative;
max-height: 112px;
min-height: 112px;
padding-left: 20px;
padding-right: 15px;
gap:10px

}
.chatbox {
color: #999999;
background-color: white;
outline: none;
font-size: 16px;
font-family: 'Plus Jakarta Sans', sans-serif ;
font-weight: normal;
resize: none;
overflow-y: auto;
flex: 1;
height: 95px;
max-height: 95px;
margin-top: 10px;
border: none;
}
::placeholder {
  color: #999999;
}
.enterchatbot {
  background-color: white;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  transition: all 0.3s ease;
}

.enterchatbot:hover {
  transform: scale(1.03);
}
a {
  text-decoration: none;
  color: inherit; 
}

  .user-menu2 {
  position: relative;
  display: inline-block;
}

.dropdown-menuchat {
  position: absolute;
  right: 0;
  top: 60px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 13px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   min-width: 170px;
  display: inline-block;
  z-index: 100;
  animation: fadeIn 0.2s ease-in-out;
}

.dropdown-itemchat {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  font-size: 16px;
  color: #9C9C9C;
  text-decoration: none;
  background: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background 0.2s;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.dropdown-item2chat {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  background: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.dropdown-itemchat:focus,
.dropdown-itemchat:active {
  outline: none;
  border: none;
}

.dropdown-itemchat:hover {
  background: #f3f3f3;
}

.dropdown-item2chat:focus,
.dropdown-item2chat:active {
  outline: none;
  border: none;
}

.dropdown-item2chat:hover {
  background: #f3f3f3;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.chat-item {
  cursor: pointer;
  padding: 12px;
  transition: all 0.2s ease;
  color:#000000;
  font-family: 'Poppins', sans-serif ;
  font-weight: 400;
}

.chat-item:hover {
  background-color: rgba(125, 113, 230, 0.1);
}

.delete-chat-btn { 
  border: none;
  border-radius: 40px;
  width: 70px;
  height: 27px;
  background-color: #FF0000;
  color: #FFFFFF;
  cursor:pointer;
  transition: all 0.2s ease;
  margin-left: 100px;
  font-family: 'Poppins', sans-serif ;
  font-size: 14px;
  font-weight: bold;
}

.delete-chat-btn:hover { 
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
}

.mensajes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.msg {
  cursor: default; 
  transition: none;
  align-self: flex-end;
  background-color: #e0e0e0; /* gris claro */
  color: #000;
  padding: 12px 16px;
  border-radius: 16px;
  max-width: 808px;
}

.msg:hover {
  cursor: default; 
  transition: none;
  transform: none;
}

.modelo-info {
  align-self: flex-start;
  background-color: rgba(125, 113, 230, 0.08);
  color: #000;
  padding: 12px 16px;
  border-radius: 16px;
}

.urldelmodelo {
  color: #3F6BFF;
  cursor: pointer;
  text-decoration: underline;
  }