* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.verify-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    position: relative;
    align-items: center;
}

.tituloverifycode {
    font-size: 64px;
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
    margin-top: 150px;   
}

.sehaenviado {
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    font-size: 32px;
    margin-top: 80px;
}

.inputverify {
    margin-top: 70px;
    background-color: rgba(125, 113, 230, 0.25);
    border-radius: 15px;
    width: 531px;
    height: 89px;
    cursor: text;
    padding: 20px;
    border: none;
    outline: none;
    resize: none;
    color: #7D71E6;
    font-size: 20px;
}

.verificarcode {
    width: 531px;
    height: 89px;
    border: none;
    background-color: #7D71E6;
    border-radius: 9px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 61px 0px rgba(77, 71, 195, 0.4);
    transition: all 0.3s ease;
    margin-top: 80px;
}

.verificarcode:hover {
  transform: scale(1.03);
  }

::placeholder {
    color: #7D71E6;
}